# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project specific
*.zip
backend/inputs/
backend/outputs/
backend/__pycache__.zip

# Frontend
frontend/node_modules/
# Note: we WANT frontend/dist/ in this specific case because HF needs it to build
# so it's NOT ignored anymore.

# OS junk
.DS_Store
Thumbs.db
