# Fix for Windows and Linux compatibility
torch
torchvision
diffusers==0.32.1
transformers==4.48.0
accelerate==1.1.0
sentencepiece
bitsandbytes
imageio[ffmpeg]
pillow
python-dotenv
rq
redis
fastapi
uvicorn
python-multipart
tiktoken
protobuf
